* {
    font-family: 'Droid Serif',serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.header {
    
    height: 120px;
    background: #f70;
    margin: -80px auto 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.main-content {
    margin: 0 25px;
}

.footer {
    bottom: 10px;
    text-align: center;
    margin: 0 25px 15px;
    border: 1px solid #0a0;
    border-radius: 15px;
}

h1,h2 {
    text-align: center;    
}
.rainbow{    
    text-align: center;
}
#heading{    
    font-size: 40px;
}
.rainbow button{    
    margin: 0;
}
.rainbow span:nth-of-type(1){
    color: #F50057;
    background: white;
}
.rainbow span:nth-of-type(2){
    color: #F50057;
    background: white;
}
.rainbow span:nth-of-type(3){
    color: #FFFF00;
    background: white;
}
.rainbow span:nth-of-type(4){
    color: #76FF03;
    background: white;
}
.rainbow span:nth-of-type(5){
    color: #00B0FF;
    background: white;
}
.rainbow span:nth-of-type(6){
    color: #6200EA;
    background: white;
}
.rainbow span:nth-of-type(7){
    color: #EF6C00;
    background: white;
}

.rainbow span:nth-of-type(8){
    color: #F50057;
    background: white;
}
.rainbow span:nth-of-type(9){
    color: #F50057;
    background: white;
}
#rb-input{
    width: 500px;
    height: 25px;
    font-size: 18px;
    text-align: center;    
    color: white;
    background: #448AFF;
}
#form-rb button{
    width: 120px;
    height: 40px;
    font-size: 22px;
    text-align: center;    
    color: white;
    background: #448AFF;
    border: none;
    border-radius: 5px;
}
#form-rb button:hover{
    background: #6200EA;
}
::-webkit-input-placeholder{
    color: white;
}
h1 span {

    background-color: rgba(255,120,30,0.6);
}

#iframe-head {
    border-bottom: 3px solid #529;
}

h3 {
    padding: 0;
    margin: 0;
    bottom: 0;
}

h3 span {
    color: #ffb000;
    background-color: #85c;
}

p {
    padding: 15px;
    text-align: justify;
    line-height: 2em;
    font-size: 16px;
}

label,input,textarea,button {
    margin: 10px auto 5px;
}

.paragraph, ol li {
    font-size: 18px;
    text-align: justify;    
    padding: 20px;
    line-height: 2em;
}
.paragraph{
text-indent: 50px;
}
#artikel {
    background: rgba(255,0,200,0.6);
    text-align: center;
}

#artikel2 {
    background: rgba(0,0,255,0.7);
}
#artikel3 {
    background: #64dd17;
}
#artikel img {
    width: 100%;
}

.half {
    width: 45%;
    display: inline-block;    
    padding: 10px;
    border-radius: 10px;
}
.half .paragraph{
    
}
.half ul{
    margin: 0;
}
.half ul li:hover {
    background: #70f;
    border: 1px solid #fff;

}
.half ul li a{
    color: #fff;
}    
ul li {
    text-align: left;
    list-style-type: none;    
}
.nav-bar ul{
    display: inline;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    padding: 14px 6px 16px 0;
    margin-top: 15px;
    z-index: 999;
}
.nav-bar ul li {
    margin: 5px auto 0 -4px;    
    background-color: #fff;
    border: 1px solid rgba(65,65,65,0.4);        
    padding: 10px 12px;
    display: inline-block;
    transition: all 0.2s;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

}
.nav-bar ul li:hover {
    background-color: #666;
    color: #fff;
}
.nav-bar ul li a:hover {    
    color: #fff;
}
.nav-bar ul li a{
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.nav-bar ul li ul {
    display: none;
    position: absolute;
    top: 35px;
    width: 250px;
    margin-left: -15px;
    padding: 0;    
    box-shadow: none;
    transition: opacity 0.2s;
}
.nav-bar ul li:hover ul {
    display: block;
    opacity: 1;
}
.nav-bar ul li ul li {
    background-color: #888;
    display: block;
    margin: 0;
    cursor: pointer;
}
.nav-bar ul li ul li:hover {
    background-color: #aaa;
    color: white;    
}

#mybio {
    background-color: lime;
    margin: 12px;
    padding: 12px;
    top: 10px;
}

#mypict {
    background-color: #000;
}

#nama {
    background-color: #2db34a;
}

#tempat-lahir {
    background-color: #ff7b29;
}

#tgl-lahir {
    background-color: #0087cc;
}

#video-frame {
    margin: 0 auto;
}

.col3 {
    width: 30%;
    display: inline-block;
    margin: 10px;
}

.col3 div {
    width: 350px;
    font: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#if1 {
    background-color: #2db34a;
}

#if2 {
    background-color: #ff7b29;
}

#if3 {
    background-color: #0087cc;
}

a img {
    //float: right;
}
table{
    font-size: 20px
}
thead{
    width: 500px;
    background: #f70;    
}
td{
    padding: 20px;

}
td img{
    margin-top: 10px;
}

tbody tr:nth-child(even){
    background: #ffc600;
}
tbody tr:nth-child(odd){
    background: #e9a264;
}

#table2{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
}
.heading th,.heading td{
    background: #64dd17;
}

#table2 tr:nth-child(even):not(.heading){
    background: #76ff03;
}
#table2 tr:nth-child(odd):not(.heading){
    background: #b2ff59;
}
.contact {
    width: 50px;
    height: 50px;
    transition: all 1.5s ease-in-out;
    transform: scale(1) rotate(360deg);
}

.contact:hover {
    transition: all 1.5s ease-in-out;
    transform: scale(1.5) rotate(-360deg);
}

#phone {
    top: -25px;
    display: inline-block;
}
#blog{
    margin: 20px 30px 10px;
    

}
.blog-art{
    margin: 20px;
    border: solid 1px yellow;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.3);
    
}
.blog-art h3{
    background: yellow;
    padding: 30px;
    text-align: center;
    padding: 10px 5px 5px;
}

#think{
    background-image: url("../images/positif-thinking.jpg");
    
    height: 300px;
}
#game-div,#score-div, #computer-div, #player-div,#arena{
    width: 90%;
    margin: 10px auto 5px;
    text-align: center;
    border: 2px solid #f00;
}
#computer-img-div,#player-img-div{
    width: 60%;
    margin-left: 250px;
    text-align: center;
    
}
#arena{
    height: 310px;
}
#score-div{
    height: 100px;
}
.computerRSP,.playerRSP,#computer-choose,#player-choose{
    border: 1px solid #f37;
    border-radius: 5px;
    margin: 5px;
}
#computer-choose,#player-choose,#arena-text{
    visibility: hidden;
}
.computerRSP, #computer-choose{
    transform: rotate(180deg);
}
#computer,#playerName,#scores{
    width: 250px;
    height: 50px;
    float: left;
    position: absolute;
    background: yellow;
    display: block;
}
.game-text{
    font-size: 30px;
    text-align: center;
    margin: -10px 0 0;
    padding: 0;
}
#arena-text{
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-align: center;
    vertical-align: center;
    color: green;
}
#message-div{
    z-index: 10000;
    margin: 0;
    margin-top: -150px;
    position: fixed;    
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
}
#message-div h1{
    color: #3377ff;
    font-size: 60px;
    font-weight: 700;
    margin-top: 100px;
}
#message-div label,#message-div input{
    text-align: center;
    font-size: 30px;
    color: #ff9980;
    display: block;
}
#message-div button{
    width: 250px;
    height: 40px;
    margin: 10px auto 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    display: block;
    background-color: #00b300;
    color: #fff;
}
#message-div p{
    font-size: 20px;
    text-align: center;
    margin: -10px;
    padding: 0;
    color: #fff;
}
.pertiga{
    position: relative;
    width: 100%;
    display: inline;
}
#main-content{
    width: 80%;
    height: 520px;
    overflow: hidden;
    margin: 15px auto 10px;
    border: 1px solid #00c;
    border-radius: 5px;
}
#slide-gallery{
    width: 8200px;
    height: 520px;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
}
#slide-gallery img{
    width: 720px;
    margin: 10px;
}
.tstyle{
    list-style: none;
    font-size: 30px;
    vertical-align: top;
}
.tstyle ul{
    margin: 0;
    padding: 0;    
    display: block;
}
.tstyle col3{

    display: block;
    position: absolute;
    top: 10px;
}
.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
#number-pad{
    display: block;
}
.padrow button{
    width: 30%;
    height: 30px;
    margin: 10px;
    border: 1px solid orange;
    border-radius: 5px;
    color: orange;
    background: #444;
    font-size: 24px;
    font-weight: 600;
}
.padrow{
    width: 100%;
    display: block;
}
#guess-input{
    width: 60%;
    height: 70px;
    margin: 15px auto 30px;
    border-radius: 10px;
    border: 1px solid orange;
    font-size: 60px;
    text-align: center;
}
#chances{
    position: absolute;
    top: 205px;
    right: 140px;
    width: 160px;
    height: 40px;
    border: 3px solid red;
    display: inline;
}
#guessed{
    position: absolute;
    top: 242px;
    right: 140px;
    width: 160px;
    height: 40px;
    border: 3px solid red;
    display: inline;
}
#guessed div{
    width: 30px;
    height: 39px;
    margin-top: -2px;
    font-size: 20px;
    line-height: 39px;
    text-align: center;  
    float: left;
    border-left: 2px solid red;
}
#chances .red,#chances .green{
    width: 20px;
    height: 20px;    
    border-radius: 50%;
    margin: 5px;
    float: left;
}

#chances .red{
    background-color: red;
    box-shadow: 0px     0px 1px 1px #c62828,
                0px     0px 2px 2px #d32f2f,
                0px     0px 3px 3px #e53935,
                0px     0px 4px 4px #f44336,
                0px     0px 5px 5px rgba(255, 0, 0, 0.4),
                0px     0px 6px 6px rgba(100, 0, 0, 0.3);
}
#chances .green{
    background-color: #64dd17;
    box-shadow: 0px     0px 1px 1px rgba(0, 240, 0, 0.8),
                0px     0px 2px 2px rgba(0, 230, 0, 0.7),
                0px     0px 3px 3px rgba(0, 210, 0, 0.6),
                0px     0px 4px 4px rgba(0, 180, 0, 0.5),
                0px     0px 5px 5px rgba(0, 150, 0, 0.4),
                0px     0px 6px 6px rgba(0, 100, 0, 0.3);
}
#pinpoin{
    width: 325px;
    height: 325px;
    z-index: 2;
    left:535px;
    position: absolute;
    top: 180px;
    transform: scale(0.5);
}
#hacktiv8{
    z-index: 3;
    left:683px;
    position: absolute;
    top: 246px;
    transform: scale(0.5);
}
#pinpoin2{
    width: 325px;
    height: 325px;
    z-index: 4;
    left:10px;
    margin-left: -47px;
    position: absolute;
    top: 500px;
    transform: scale(1.3);
}
#start{
    height: 350px;
    width: 350px;
    border-radius: 350px;
    z-index: 5;    
    left:41px;
    position: absolute;
    top: 342px;
    transform: scale(0.3);
}