* {
    font-family: 'Droid Serif',serif;
}

body {
    margin: 0;
}

.header {
    height: 60px;
    background: #f70;
}

.main-content {
    margin: 0 25px;
}

.footer {
    bottom: 10px;
    text-align: center;
    margin: 0 25px 15px;
    border: 1px solid #0a0;
    border-radius: 15px;
}

h1 {
    text-align: center;
}

h1 span {
    background-color: rgba(255,120,30,0.6);
}

#iframe-head {
    border-bottom: 3px solid #529;
}

h3 {
    padding: 0;
    margin: 0;
    bottom: 0;
}

h3 span {
    color: #ffb000;
    background-color: #85c;
}

p {
    padding: 15px;
}

label,input,textarea,button {
    margin: 10px auto 5px;
}

.paragraph {
    font-size: 18px;
    text-align: justify;
    text-indent: 50px;
    padding: 20px;
    line-height: 2em;
}

#artikel {
    background: rgba(255,0,200,0.6);
    text-align: center;
}

#artikel2 {
    background: rgba(0,0,255,0.7);
}

#artikel img {
    width: 100%;
}

.half {
    width: 45%;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
.half ul{
    margin: 0;
}
.half ul li:hover {
    background: #70f;
    border: 1px solid #fff;
}
.half ul li a{
    color: #fff;
}    
ul li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
}

nav ul li {
    color: #fff;
    background: #77f;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

#mybio {
    background-color: lime;
    margin: 12px;
    padding: 12px;
    top: 10px;
}

#mypict {
    background-color: #000;
}

#nama {
    background-color: #2db34a;
}

#tempat-lahir {
    background-color: #ff7b29;
}

#tgl-lahir {
    background-color: #0087cc;
}

#video-frame {
    margin: 0 auto;
}

.col3 {
    width: 30%;
    display: inline-block;
}

.col3 div {
    width: 350px;
    font: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#if1 {
    background-color: #2db34a;
}

#if2 {
    background-color: #ff7b29;
}

#if3 {
    background-color: #0087cc;
}

a img {
    float: right;
}





.contact {
    width: 50px;
    height: 50px;
    transition: all 1.5s ease-in-out;
    transform: scale(1) rotate(360deg);
}

.contact:hover {
    transition: all 1.5s ease-in-out;
    transform: scale(1.5) rotate(-360deg);
}

#phone {
    top: -25px;
    display: inline-block;
}