* {
    font-family: 'Droid Serif',serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.header {
    height: 60px;
    background: #f70;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}

.main-content {
    margin: 0 25px;
}

.footer {
    bottom: 10px;
    text-align: center;
    margin: 0 25px 15px;
    border: 1px solid #0a0;
    border-radius: 15px;
}

h1 {
    text-align: center;
    
}

h1 span {
    background-color: rgba(255,120,30,0.6);
}

#iframe-head {
    border-bottom: 3px solid #529;
}

h3 {
    padding: 0;
    margin: 0;
    bottom: 0;
}

h3 span {
    color: #ffb000;
    background-color: #85c;
}

p {
    padding: 15px;
    text-align: justify;
    line-height: 2em;
    font-size: 16px;
}

label,input,textarea,button {
    margin: 10px auto 5px;
}

.paragraph, ol li {
    font-size: 18px;
    text-align: justify;    
    padding: 20px;
    line-height: 2em;
}
.paragraph{
text-indent: 50px;
}
#artikel {
    background: rgba(255,0,200,0.6);
    text-align: center;
}

#artikel2 {
    background: rgba(0,0,255,0.7);
}
#artikel3 {
    background: #64dd17;
}
#artikel img {
    width: 100%;
}

.half {
    width: 45%;
    display: inline-block;    
    padding: 10px;
    border-radius: 10px;
}
.half .paragraph{
    
}
.half ul{
    margin: 0;
}
.half ul li:hover {
    background: #70f;
    border: 1px solid #fff;

}
.half ul li a{
    color: #fff;
}    
ul li {
    text-align: center;
    list-style-type: none;
    display: inline-block;
}

nav ul li {
    margin: 10px 0 10px;
    color: #fff;
    background: #77f;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1em;
    padding: 5px;
}

#mybio {
    background-color: lime;
    margin: 12px;
    padding: 12px;
    top: 10px;
}

#mypict {
    background-color: #000;
}

#nama {
    background-color: #2db34a;
}

#tempat-lahir {
    background-color: #ff7b29;
}

#tgl-lahir {
    background-color: #0087cc;
}

#video-frame {
    margin: 0 auto;
}

.col3 {
    width: 30%;
    display: inline-block;
}

.col3 div {
    width: 350px;
    font: bold;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#if1 {
    background-color: #2db34a;
}

#if2 {
    background-color: #ff7b29;
}

#if3 {
    background-color: #0087cc;
}

a img {
    float: right;
}
table{
    font-size: 20px
}
thead{
    width: 500px;
    background: #f70;    
}
td{
    padding: 20px;

}
td img{
    margin-top: 10px;
}

tbody tr:nth-child(even){
    background: #ffc600;
}
tbody tr:nth-child(odd){
    background: #e9a264;
}

#table2{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
}
.heading th,.heading td{
    background: #64dd17;
}

#table2 tr:nth-child(even):not(.heading){
    background: #76ff03;
}
#table2 tr:nth-child(odd):not(.heading){
    background: #b2ff59;
}
.contact {
    width: 50px;
    height: 50px;
    transition: all 1.5s ease-in-out;
    transform: scale(1) rotate(360deg);
}

.contact:hover {
    transition: all 1.5s ease-in-out;
    transform: scale(1.5) rotate(-360deg);
}

#phone {
    top: -25px;
    display: inline-block;
}
#blog{
    margin: 20px 30px 10px;
    

}
.blog-art{
    margin: 20px;
    border: solid 1px yellow;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.3);
    
}
.blog-art h3{
    background: yellow;
    padding: 30px;
    text-align: center;
    padding: 10px 5px 5px;
}

#think{
    background-image: url("../images/positif-thinking.jpg");
    
    height: 300px;
}
#game-div,#score-div, #computer-div, #player-div,#arena{
    width: 90%;
    margin: 10px auto 5px;
    text-align: center;
    border: 2px solid #f00;
}
#arena{
    height: 310px;
}
#score-div{
    height: 100px;
}
.computerRSP,.playerRSP,#computer-choose,#player-choose{
    border: 1px solid #f37;
    border-radius: 5px;
    margin: 5px;
}
#computer-choose,#player-choose,#arena-text{
    visibility: hidden;
}
.computerRSP, #computer-choose{
    transform: rotate(180deg);
}
#computer,#playerName,#scores{
    width: 250px;
    height: 50px;
    float: left;
    position: absolute;
    background: yellow;
}
.game-text{
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}
#arena-text{
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-align: center;
    vertical-align: center;
    color: green;
}